<div class="header sticky">
    <div>
      <a href="/"
        ><img
          src="https://cdn.freelogovectors.net/wp-content/uploads/2021/02/myntra-logo-freelogovectors.net_.png"
          alt="logo"
      /></a>
    </div>
    <div class="categories">
      <ul>
        <li class="dropdown-content1 dropdown-content">
          <a href="/catalogue/Men">Men</a>
        </li>
        <li class="dropdown-content2 dropdown-content">
          <a href="/catalogue/Women">Women</a>
        </li>
        <li class="dropdown-content3 dropdown-content">
          <a href="/catalogue/Boys">Kids</a>
        </li>
        <li class="dropdown-content4 dropdown-content">
          <a href="/catalogue/home&living">Home</a>
        </li>
        <li class="dropdown-content5 dropdown-content">
          <a href="/catalogue/Beauty">Beauty</a>
        </li>
      </ul>
    </div>

    <!-- Search Div -->
    <div class="search-div">
      <img
        id="searchpng"
        src="https://image.flaticon.com/icons/png/128/49/49116.png"
        alt=""
      />

      <input
        type="text"
        placeholder="Search for products, brands and more"
      />
    </div>

    <div class="nav-last">
      <div>
        <a href="/profile">
          <img
            id="svg"
            src="https://www.svgrepo.com/show/198180/user-profile.svg"
            alt=""
          />
        </a>

        <div>Profile</div>
      </div>

      <div>
        <a href="">
          <img
            id="svg"
            src="https://www.svgrepo.com/show/14970/heart.svg"
            alt=""
          />
        </a>

        <div>Wishlist</div>
      </div>

      <div>
        <a href="">
          <img
            id="svg"
            src="https://www.svgrepo.com/show/17522/bag.svg"
            alt=""
          />
        </a>

        <div>Bag</div>
      </div>
    </div>

    
  </div>
  <div class="dropdown-menu1 dropdown-menu">
    <ul>
      <li><a href="products.html">Shirts</a></li>
      <li><a href="products.html">Tshirts</a></li>
      <li><a href="products.html">Jeans</a></li>
      <li><a href="products.html">Shoes</a></li>
      <li><a href="products.html">Accessories</a></li>
    </ul>
  </div>

  <div class="dropdown-menu2 dropdown-menu">
    <ul>
      <li><a href="products.html">Ethnic</a></li>
      <li><a href="products.html">western wear</a></li>
      <li><a href="products.html">Footwear</a></li>
      <li><a href="products.html">sports wear</a></li>
      <li><a href="products.html">Accessories</a></li>
    </ul>
  </div>

  <div class="dropdown-menu3 dropdown-menu">
    <ul>
      <li><a href="products.html">Boys Clothing</a></li>
      <li><a href="products.html">Girls Clothing</a></li>
      <li><a href="products.html">infants</a></li>
      <li><a href="products.html">boys footwear</a></li>
      <li><a href="products.html">girls footwear</a></li>
    </ul>
  </div>

  <div class="dropdown-menu4 dropdown-menu">
    <ul>
      <li><a href="products.html">Bed Linen</a></li>
      <li><a href="products.html">Flooring</a></li>
      <li><a href="products.html">bath</a></li>
      <li><a href="products.html">home decor</a></li>
      <li><a href="products.html">kitchen</a></li>
    </ul>
  </div>

  <div class="dropdown-menu5 dropdown-menu">
    <ul>
      <li><a href="products.html">make up</a></li>
      <li><a href="products.html">skincare</a></li>
      <li><a href="products.html">haircare</a></li>
      <li><a href="products.html">fragrances</a></li>
      <li><a href="products.html">mens grooming</a></li>
    </ul>
  </div>